In [8]:
from pandas import read_csv, DataFrame
import statsmodels.api as sm
from statsmodels.iolib.table import SimpleTable
from sklearn.metrics import r2_score
import ml_metrics as metrics

dataset = read_csv('data/tovar_moving.txt',';', index_col=['date_oper'], parse_dates=['date_oper'], dayfirst=True)

dataset.columns= ['Otgruzka']

dataset.head()

            Otgruzka
date_oper
2009-09-01    179667
2009-09-02    177670
2009-09-03    152112
2009-09-04    142938
2009-09-05    130741

In [10]:
otg = dataset.Otgruzka

otg.head()

date_oper
2009-09-01    179667
2009-09-02    177670
2009-09-03    152112
2009-09-04    142938
2009-09-05    130741
Name: Otgruzka, dtype: int64